/* Header*/
body > header {
    background-color: #046dd5;
    color: white;
  
    padding: 1em;
}

body > header h1, body > header h2{
    margin: 0;
    text-align: center;
}

body > header a, h2 {
    color: rgb(0, 0, 0);
    text-decoration: none;  
}

body > header img{
    transform:rotate(-30deg);
    border-radius: 2em;
    width: 1em;
}

/* Navigation */
#menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
  
#menu li {
    background-color: #046dd5;
    text-align: center;
  
    list-style-type: none;
  
    padding: 0% 0%;
    width: 100%;
}
.indexb{
    margin: 0%;
    opacity: 0.8;
}
  
#menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 150%;
}
  
  
#menu li:hover a{
    color: rgb(255, 255, 255);
}

/*title*/
#title{
    font-family: 'Adobe Hebrew', cursive;
    background-color: rgb(33, 162, 236);

    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;  
}


#title h1{
    font-family: 'Adobe Hebrew', cursive;
    text-align: center;
    font-size: 15vw;
    background-color: rgb(33, 162, 236);
}


#title img{
    margin-left: 5vw;
    max-width: 20%;
    transform:rotate(-30deg);
    border-radius: 100%;
    size: 50vp;
    padding: 3%;
}


/*center*/
#center{
    text-align: center;
    font-size: 4vw;
    font-family: 'Pacifico', cursive;
}

#center h1{
    margin: 0%;
}

#center{
    font-family: 'Adobe Hebrew', cursive;
    background-color: rgb(33, 162, 236);

    padding: 0%;
}

#center img{
    height: 50vw;
    width: 50vw;
}

/*footer*/
body > footer{
    background-color: #046dd5;  
    padding: 1%;
}

body > footer p{
    margin: 0%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 120%
}

button {
    background-color:  #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/*Smile*/
#smile img{
    padding: 2%;
}

#smile h1, #smile p{
    margin: 0%;
}

#smile img, #smile h1{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 50%;
    text-align: center;
}

#logs> a {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#hamburger, .hamburger {
    display: none;
}

/*profile*/
#profile{
    text-align: center;
    font-size: 4vw;
    font-family: 'Pacifico', cursive;
}

#profile h3{
    margin: 0%;
}

#profile{
    font-family: 'Adobe Hebrew', cursive;
    background-color: rgb(33, 162, 236);

    padding: 0%;
}
